REDIS_URL=redis://<EC2-1-PRIVATE-IP>:6379/0
POSTGRES_DSN=postgresql+asyncpg://postgres:postgres@<EC2-1-PRIVATE-IP>:5432/chatbot

LLM_QUEUE_NAME=queue:llm
EMBEDDING_QUEUE_NAME=queue:embedding
LLM_RESULT_PREFIX=result:llm:
LLM_STREAM_PREFIX=stream:llm:
EMBED_RESULT_PREFIX=result:embed:

EMBED_BATCH_SIZE=32
MAX_RETRY=3
